@import '../../../styleLibrary';

mat-card{
    padding-left: 30px !important;
    .custom-content{
        
        .project{
            width: 100%;

            &:not(:last-child){
                border-bottom: 1px solid #bdbdbd;
                padding-bottom: 25px;
                margin-bottom: 25px;
            }

            mat-icon{
                transform: scale(1.5);
            }

            .title{
                margin: 0 20px 0 0;
                div{
                    background-color: #5da4d9;
                    padding: 14px;
                    color: white;
                }
            }
            .description{
                mat-chip{
                    mat-icon{
                        transform: scale(1); 
                        fill: $color-grey;
                        &.margin-text{
                            margin-right:6px; 
                        }
                    }
                }
            }
            .link{
                mat-icon{
                    cursor: pointer;
                }
            }
            div{
                p{
                    text-align: justify;
                }
            }
            
        }
    }
}