<mat-card >
  <mat-card-header>
    <mat-card-title>
        <h2>{{Projects.title}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-content">

    <div *ngFor="let projet of Projects.projects" class="project" fxLayout="row" fxLayoutAlign="center center">
        <div class="title" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <div>{{ projet.title }}</div>
          </div>
          <div class="description" fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
            <p>
              {{ projet.htmlDescription }}
            </p>
            <mat-chip-list>
              <mat-chip *ngFor="let application of projet.usedApplications">{{ application }}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="link" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon svgIcon="mdi:bitbucket" matTooltip="Code bitbucket" (click)="navigateNewTab(projet.htmlDescription)"></mat-icon>
          </div>
    </div>

  </mat-card-content>
</mat-card>