<mat-card >
  <mat-card-content class="custom-content">
      <div class="cover-latter section-wrapper" fxLayout="row" fxLayoutAlign="start start">
          <div class="custom-content"> 
            <div class="cover-title">
              <span>1 Octobre 2018</span>
              <h2>Vendeville Antoine</h2>
              <p>
                  Ingénieur informatique<br>
              </p>
            </div>
            <h4 class="cover-title">Madame, monsieur.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor.
            Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a 
            consectetur. Sed tristique vitae quam a tincidunt. libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales 
            risus a consectetur. Sed tristique vitae quam a tincidunt</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor. 
            Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a 
            consectetur. Sed tristique vitae quam a tincidunt.libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales 
            risus a consectetur. Sed tristique vitae quam a tincidunt</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor.
            Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a 
            consectetur. Sed tristique vitae quam a tincidunt</p>
            <div class="cover-title">
                <p>Très sinsèrement</p>
            </div>
            <div class="signature">
                <img src="assets/img/sig.png" alt="" class="img-responsive">                           
                <h4>Vendeville Antoine</h4>
                <h5> Ingénieur informatique </h5> 
                <span>Lille, France</span>                            
            </div>
          </div>
        </div> 
  </mat-card-content>
</mat-card>
