#content{
  height: 100%;
  width: 100%;

  aside{
    height: 100%;

    &.sidebar{
      color: #ffffff;
      background-color: #5da4d9;
    }

    #photo{
      position: relative;

      #image{
        img{
          width: 100%;
          max-width: 100%;
          height: auto;
          border: 0;
        }     
      }
      
      #identity{
        position: absolute;
        bottom: 46px;
        h2{
          font-size: 22pt;
          line-height: 37pt;
          margin: 0px;
        }
        span{
          margin-top: -5px;
          font-size: 10pt;
          margin: 0px;
          padding: 0px;
          line-height: 15pt;
        }
      }
    }


    .item-informations{
      overflow: hidden;
      margin-top: 10px;
      padding-left: -0.75rem;
      padding-right: -0.75rem;
      margin-bottom: 20px;
      mat-icon{
        font-size: 28px;
      }

      .content-text{
        padding-right: 26px;
        padding-bottom: 30px;
        
        p{
          margin: 0px;
          font-weight: 300;
          font-size: 10pt;
          line-height: 17pt;
          opacity: 0.9;
        }
        h3{
          margin-top: 0px;
          margin-bottom: 20px;
        }
        .skill-content{
          padding-right: 30px;
        }

        .address,
        .mail,
        .phone-number{
        
          &:first-child{
            margin-bottom: 20px;
          }
          span{
            opacity: 0.7;
            font-weight: 300;
          }
          h4{
            margin: 0px;
            a{
              font-weight: inherit;
              color: #ffffff;
              text-decoration: none;
            }
          }
          
        }
      }
      .border-bottom{
        border-bottom: 1px solid #4783c2;
      }
    }
  }
}
