<div id="content" fxLayout="row" fxLayoutAlign="center start" *ngIf="isLoading == false">

  <app-aside fxFlex="33" [Informations]="Results.Informations"></app-aside>

  <div fxFlex fxLayout="column" fxLayoutAlign="start start">

    <app-section-wrapper-text [Informations]="Results.WorkExperiences"></app-section-wrapper-text>

    <app-section-wrapper-text [Informations]="Results.Education"></app-section-wrapper-text>

    <app-section-wrapper-text [Informations]="Results.Interestes"></app-section-wrapper-text>

  </div>
</div>
