<section>
  <div class="section-wrapper mat-elevation-z1" fxLayout="row" fxLayoutAlign="start start">                            
      <div class="section-icon" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon >{{ Informations.icon }}</mat-icon>
      </div>
      <div class="custom-content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
          <h2>{{Informations.title}}</h2>

          <div class="custom-content-wrapper" *ngFor="let data of Informations?.content">
            <h3>{{ data.title }} <span>{{ data.company }}</span></h3>
            <span>{{ data.periode }}</span>
            <p>{{ data.htmlDescription }} </p>
          </div>
  
          <div class="custom-content-wrapper" *ngIf="Informations.hobbies != undefined" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon *ngFor="let hobbie of Informations?.hobbies" [matTooltip]="hobbie.tooltip">{{ hobbie.icon }}</mat-icon>
        </div>

      </div>                            
  </div>
</section>