@import '../../../styleLibrary';

mat-card{

  mat-card-header{
    width:100%;
    margin-top: 15px;
    mat-card-title{
      
      h2{
        color: #767270;
      }
      .section-icon{
        mat-icon{
          font-size: 30pt;
          height:30pt;
          width: 30pt;
        }
      }
    }
  }



  mat-card-content{

    padding-left: 22%;
    &.no-padding{
      padding-left: 0;
    }

    .technologies-content{
      margin-top: -25px;
      margin-bottom: 15px;
      mat-chip{
        mat-icon{
            transform: scale(1); 
            fill: $color-grey;
            &.margin-text{
                margin-right:6px; 
            }
        }
      }
    }

    .hobbies-content-wrapper{
      mat-icon{
        color: #5da4d9;
        font-size: 30pt;
        height: 30pt;
        width: 30pt;
      }
    }

    .custom-content-wrapper{
    
      &:not(:first-child){
        margin-top: 20px;
      }

      &:not(:last-child){
        border-bottom: 1px solid #bdbdbd;
        p{
          margin-bottom: 25px;
        }
      }
  
      h3{
        margin: 0px;
        font-size: 12pt;
        line-height: 20pt;
      }

      .company {
        color: #767270;
      }
  
      span{
        color: #5da4d9;
        margin-top: 0px;
        font-size: 10pt;
        line-height: 15pt;
      }
  
      p{
        padding-right: 30px;
        margin-top: 0px;          
      }
    }
  }


} 