/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}

button.mat-menu-item {
    line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
}
.mat-icon svg {
    height: 24px;
    width: 24px;
}

h4{
    font-size: 12pt;
    line-height: 20pt;
    opacity: 1;
}

h3{
    font-size: 14pt;
    line-height: 24pt;
    font-weight: 500;
}

h2{
    font-size: 22pt;
    line-height: 37pt;
    margin: 0px;
    font-weight: 500;
}

p{
    font-weight: 300;
    font-size: 10pt;
    line-height: 17pt;
}

html{

    line-height: 1.5;
    color: rgba(0,0,0,0.87);
    font-weight: normal;

    body{

        margin: 0;
        background-color: #eae8e7;
        color: #767270;
        
        .container{
            width: 80%;
            padding: 0 1.5rem;
            margin: 0 auto;
            max-width: 1280px;
            margin-top: 24px;
            margin-bottom: 20px;

            .content-right{
                app-user-informations,
                app-projects {
                    width:100%;
                }
            }
        }
        
    }
    
}

section{
    width:100%;
    .section-wrapper {
        background-color: #ffffff;
        overflow: hidden;
        margin-bottom: 24px;
        padding-bottom: 30px !important;
    
        h2{
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }
}
