@import '../../../styleLibrary';

:host {
    width: 100%;

    #filter-card{
        width: unset !important;
    }
    
    mat-card{
        padding: 30px !important;

        ::ng-deep app-progress{
            .progress{
                background-color: #d6d6d6;
                border-radius: 10px;
                height:6px;
                .determinate{
                    background-color: #4783c2;
                    border-radius: 10px;
                    .circle{
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }

        .skills-bloc{
            padding-bottom: 06px;
        }
        .rate-bar{
            margin: 0 auto;
            width:75%;
        }
        .skill-information{
            margin-top: 14px;

            .skill-name-value{
                mat-icon{
                    font-size: unset; 
                    margin-right: 4px;
                    fill: $color-grey;
                }
            }
        }

        mat-expansion-panel{
            &.mat-expanded{
                mat-expansion-panel-header{
                    background: rgba(0,0,0,.04);
                }
            }

            mat-expansion-panel-header{
                mat-icon{
                    &.expend-icon{
                        transition: transform 0.2s linear;
                    }
                    &.showPanelIcon{
                        transform: rotate(0.5turn);
                    }
                }
                
            }

        }
    }

}